<section class="p-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ordenes </h4>
        </div>
        <div class="card-body--">
            <div class="">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="serial">#</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="serial">1.</td>
                            <td> <span class="product">Naranja</span> </td>
                            <td><span class="count">21</span></td>
                            <td>
                                <span class="bg-danger">Rechazado</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="serial">2.</td>
                            <td> <span class="product">Mandaina</span> </td>
                            <td><span class="count">25</span></td>
                            <td>
                                <span class="bg-success">Complete</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="serial">3.</td>
                            <td> <span class="product">Durazno</span> </td>
                            <td><span class="count">35</span></td>
                            <td>
                                <span class="bg-success">Complete</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="serial">4.</td>
                            <td> <span class="product">Platano</span> </td>
                            <td><span class="count">10</span></td>
                            <td>
                                <span class="bg-warning">Pending</span>
                            </td>
                        </tr>
                        <tr class=" pb-0">
                            <td class="serial">5.</td>
                            <td> <span class="product">Uva</span> </td>
                            <td><span class="count">5</span></td>
                            <td>
                                <span class="bg-success">Complete</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- /.table-stats -->
        </div>
    </div>
</section>