<section class="page-section bg-secondary">
    <div class="container p-4">
        <div class="row">
            {{>message}}
            <form action="/cliente/add" method="POST">
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">Realizar Orden</div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-12">Cantidad a Ordenar</label>
                                    <input type="number" value="1" name="price" min="1" max="1000000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12">Dirección</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="address">
                                </div>
                            </div>
                            <input type="text" name="item_id">

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Guardar
                                <span class="fa fa-save" aria-hidden="true"></span>
                            </button>
                            <a href="/cliente" type="button" class="btn btn-danger">Cancel
                            </a>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</section>