<section class="page-section bg-secondary">
    <div class="container p-4">
        <div class="row">
            {{>message}}
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-body">
                        <h3>Bienvenido {{user.name}}</h3>
                        <h4>{{user.username}}</h4>
                        <a href="/links" class="btn btn-primary m-4">
                            Save your Links
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="p-5">
    <h4>All notes</h4>

    <div class="row">

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-center">
                        Desc<a href="#"><i class="fa fa-pencil"></i></a>
                    </h4>
                    <p>Precio 45 Bs.</p>
                    <form action="#" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-primary btn-block btn-sm">
                            Ordenar
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Orders </h4>
        </div>
        <div class="card-body--">
            <div class="">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="serial">#</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="serial">1.</td>
                            <td> <span class="product">iMax</span> </td>
                            <td><span class="count">231</span></td>
                            <td>
                                <span class="bg-danger">Rechazado</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="serial">2.</td>
                            <td> <span class="product">iPad</span> </td>
                            <td><span class="count">250</span></td>
                            <td>
                                <span class="bg-success">Complete</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="serial">3.</td>
                            <td> <span class="product">SSD</span> </td>
                            <td><span class="count">250</span></td>
                            <td>
                                <span class="bg-success">Complete</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="serial">4.</td>
                            <td> <span class="product">Magic Mouse</span> </td>
                            <td><span class="count">250</span></td>
                            <td>
                                <span class="bg-warning">Pending</span>
                            </td>
                        </tr>
                        <tr class=" pb-0">
                            <td class="serial">5.</td>
                            <td> <span class="product">Monitor</span> </td>
                            <td><span class="count">250</span></td>
                            <td>
                                <span class="bg-success">Complete</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- /.table-stats -->
        </div>
    </div>
</section>