<!-- Sidebar -->
<ul class="navbar-nav bg-primary sidebar sidebar-primary fie accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/{{{inicio}}}">
        <div class="sidebar-brand-icon rotate-n-10">
            <img class="img-fluid" src="/img/logo/logo.png" alt="Logo">
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{{{inicio}}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider bg-light">

    <!-- Heading -->
    <div class="sidebar-heading text-light">
        Productos
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Items</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Productos:</h6>
                <a class="collapse-item" href="/items">Lista de Productos</a>
                <a class="collapse-item" href="/types">Tipos de Productos</a>
                
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/orders">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Pedidos</span></a>
    </li>



    <!-- Heading -->
    <div class="sidebar-heading text-light">
        Almacén
    </div>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/purchase" data-toggle="collapse" data-target="#purchase"
            aria-expanded="true" aria-controls="purchase">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Entradas</span>
        </a>
        <div id="purchase" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Compras:</h6>
                <a class="collapse-item" href="/stocks">Entradas</a>

            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSales" aria-expanded="true"
            aria-controls="collapseSales">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Salidas</span>
        </a>
        <div id="collapseSales" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ventas:</h6>
                <a class="collapse-item" href="/sales">Salidas</a>
            </div>
        </div>
        <div id="collapseSales" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Pos categoria:</h6>
                <a class="collapse-item" href="/cat">categoria</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/warehouses">
            <i class="fas fa-fw fa-home"></i>
            <span>Agencia</span></a>
    </li>


    <!-- Heading -->
    <div class="sidebar-heading text-light">
        Usuarios
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePersonal"
            aria-expanded="true" aria-controls="collapsePersonal">
            <i class="fas fa-fw fa-users"></i>
            <span>Personal:</span>
        </a>
        <div id="collapsePersonal" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Personal:</h6>
                <a class="collapse-item" href="/personals">Personal</a>
                
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block bg-light">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->