{{!-- SCRIPTS --}}

<!-- Footer-->
<footer class="footer text-center bg-secondary text-light">
    <div class="container">
        <div class="row">

            <!-- Footer Location -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-uppercase mb-4">Ubicacion</h5>
                <p class="mb-0">Desarrolladores
                    <br>Ciudad Oruro FNI</p>
            </div>

            <!-- Footer Social Icons -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-uppercase mb-4">Segir en redes sociales</h5>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-dribbble"></i>
                </a>
            </div>

            <!-- Footer About Text -->
            <div class="col-lg-4">
                <h5 class="text-uppercase mb-4">Develop</h5>
                <p class="mb-0">Ingresa a este portal para encontrarlo
                    <a href="#"> aqui</a>.</p>
            </div>

        </div>
    </div>
</footer>
<section class="copyright py-4 bg-dark text-center text-white">
    <div class="container">
        <small>Copyright © software de Almacén</small>
    </div>
</section>
<script src="js/scriptFF.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
