<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            {{>message}}
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-body">
                        <h3>Bienvenido {{user.name}}</h3>
                        <h4>{{user.name}}</h4>
                        <a href="/" class="btn btn-primary m-4">
                            Save
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /Widgets-->
    </div>
    <!-- .animated -->
</div>
<!-- /.content -->